/* Carousel */
.carousel {
  height: 70vh;
  background: linear-gradient(0deg, var(--theme-light), var(--theme-dark));
}
.carousel .container .row .col-md-6 {
  text-align: left;
  color: var(--light-text-color);
}
.carousel .container .row .col-md-6 h2 {
  font-size: 3rem;
}
.carousel .container .row .col-md-6 img {
  width: 100%;
  object-fit: cover;
}

/* Work Section */
.work-section {
  background-color: var(--bg-light);
  padding: 4rem 0;
}
.work-section .container .work-header {
  text-align: center;
}
.work-section .container .work-header h1 {
  font-size: 3rem;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}
.work-section .container .feature-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.work-section .container .feature-area .feature-card {
  display: flex;
  flex-direction: column;
  width: 22%;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  transition: all 0.7s;
  border-radius: 5px;
  text-align: center;
  box-shadow: var(--shadow);
}
.work-section .container .feature-area .feature-card:hover {
  box-shadow: var(--shadow-hover);
}
.work-section .container .feature-area .feature-card h2 {
  font-size: 1.5rem;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}
.work-section .container .feature-area .feature-card p {
  color: var(--secondary-text-color);
}

/* Features */
.container {
  margin: 2rem 0;
}
.container .feature-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}
.container .feature-header h2 {
  font-size: 4rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
.container .feature-header p {
  font-size: 1.4rem;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.reverse {
  flex-direction: row-reverse;
}
.row .col-md-6 {
  width: 50%;
}
.row .col-md-6 img {
  width: 100%;
}
.row .col-md-6 h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
.row .col-md-6 p {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Counts */
.counts {
  background-color: var(--bg-light);
}
.counts .container .row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
  padding: 2rem 0;
}
.counts .container .row .col-md-3 {
  text-align: center;
  width: 20%;
  font-size: 1.4rem;
  border-radius: 15px;
  padding: 0.4rem 0;
  transition: all 0.7s;
  box-shadow: var(--shadow);
  color: var(--secondary-text-color);
}
.counts .container .row .col-md-3:hover {
  box-shadow: var(--shadow-hover);
}
